<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-3 bg-light">
        <h5 class="p-2 text-center">管理者ログイン</h5>
      </div>
    </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row pt-5">
            <div class="col-lg-4 text-center">
              <%= f.label "メールアドレス" %>
            </div>
            <div class="col-lg-8">
              <%= f.email_field :email, autofocus: true, style: "width:60%", autocomplete: "email" %>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col-lg-4 text-center">
              <%= f.label "パスワード" %>
            </div>
            <div class="col-lg-8">
              <%= f.password_field :password, style: "width:60%", autocomplete: "current-password" %>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg-4"></div>
              <div class="col-lg-8">
                <%= f.submit "ログイン", class: "btn btn-primary" %>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</main>
