<p id="notice"></p>

<main>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-lg-4 pt-5 text-center bg-light">
          <h5>ジャンル一覧・追加</h5>
        </div>
      </div>


      <%= form_with model: @genre do |f| %>

        <div class="row">

          <div class="col-3 form-group text-center">
            <%= f.label :ジャンル名 %>
          </div>

          <div class="col-3">
            <%= f.text_field :name, class: "col-md-4" %>
          </div>

          <div>
            <%= f.submit "新規登録" , class: "btn btn-success" %>
          </div>

        </div>
      <% end %>

        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ジャンル</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <rt>
              <%= form_with model: @genre do |f| %>
                <td><%= ganre.name %></td>
                <td></td>
                <td><%= link_to edit_admin_genre_path, class: "btn btn-success" do %>編集する<% end %></td>
              <% end %>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</main>