<!DOCTYPE html>
<html>
  <head>
    <title>ながのCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-white">
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
          <%= link_to image_tag("ケーキのアイコン.png"), "/" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <%if customer_signed_in? %>
                    <li class="nav-item">
                      <%= link_to user_path(current_user), class: "btn btn-outline-secondary" do %>
                        マイページ
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to
                    </li>
                </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
